<div id="navbar">
    <ul class="list-item">
        <li><a href="#anchor1">Anchor 1</a></li>
        <li><a href="#anchor2">Anchor 2</a></li>
        <li><span><a href="#anchor3">Anchor 3</a></span></li>
    </ul>
    <ul>
    	<li>Baju</li>
    	<li>Celana</li>
    	<li>Sepatu</li>
    	<li>Tas</li>
    	<li>Ikat Pinggang</li>
    	<li>Rok</li>
    </ul>

    <span>Bob</span>
    <span>Bobby</span>

    <input type="text">
</div>
