<ul id="url-list">
    <li><a href="http://google.com">google</a></li>
    <li><a href="http://yahoo.com">yahoo</a></li>
    <li><a href="http://gmail.com">gmail</a></li>
    <li><a href="http://facebook.com">facebook</a></li>
    <li><a href="http://friendster.com">friendster</a></li>
</ul>
